.main-container {
  display: flex;
  padding: 40px;
}

.about-container{
  text-align: center;
  justify-content: center;
}

.about-container p {
  font-style: italic;
  text-align:justify;
  justify-content: center;
  align-items: center;
}

.photo-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.photo-about {
  border-radius: 20%;
  margin-left: 50px;
  max-width:400px;
  max-height:350px;
}